h1
   {color:rgb(255, 255, 255);}
   *{
       border:solid;
   }
 .header{
     background-color: rgb(23, 7, 252);
     display: flex;
     justify-content: space-between;
 }

.menu{
    background-color: rgb(205, 240, 9);
    display: flex;
    justify-content: center;
}

.discription{
background-color: rgb(233, 12, 12);
}